body {
  margin: 0;
}

section {
  background-color: white;
}

footer {
  color: white;
  text-align: center;
  padding: 60px;
  background-color: black;
  border: solid white 1px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 20px;
  width: 500px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  margin: 0;
}

h2 {
  font-size: 40px;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 200;
}

.top {
  background-color: grey;
  height: 100vh;
  font-size: 50px;
  color: white;
}

.intro-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.intro-text {
  margin-left: 40px;
  margin-bottom: 100px;
}

.sociallinks {
  padding-bottom: 100px;
}

.logo {
  height: 100px;
  margin: 10px;
}

.socials {
  margin: 15px;
}

.aboutinfo {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.photocontainer {
  display: flex;
  align-items: center;
}

.photome {
  width: 200px;
  border-radius: 150px;
  margin-left: 40px;
}

.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.projectcontainer {
  display: flex;
  justify-content: space-around;
}

.projectcard {
  margin: 10px;
  width: 300px;
  height: 350px;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 5px 5px 17px #666666, -5px -5px 17px #ffffff;
}

.project-image {
  margin-top: 20px;
  width: 175px;
  border-radius: 30px;
}

@media only screen and(max-width: 1000px) {
  nav {
    display: flex;
    flex-direction: column-reverse;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
  .projectcontainer {
    display: flex;
    flex-wrap: wrap;
  }

  .top {
    display: flex;
    flex-wrap: wrap;
  }
}
